<!DOCTYPE html>
<div class="split-container">
  <div class="split-side" onclick="">
    <div class="split-content cover">
      <img class="logo" src="res/title-white.png">
      Tomorrow Delivered Today
    </div>
    <img src="res/cover-image.jpg"/>
  </div>
</div>
<section class="block carousel">
  <h2>Our Philosophy</h2>
  <slick speed="1000" autoplay="true" autoplaySpeed="3000" dots="true">
    <div>Lontra Ventures embraces the long game.
    Our clients possess <b>extraordinary knowledge</b> and are building tomorrow's innovations.</div>
    <div>Winners are <b>focused</b> yet agile, <b>responsive</b> to the market. <b>Confident taking measured risk.</b></div>
    <div><b>Results Matter.</b> We are at our clients side everyday with <b>truth</b> and <b>authenticity, analytics</b>, and <b>encouragement</b>.</div>
    <div>Together we win.</div>
  </slick>
</section>
<div class="split-container">
  <div class="split-side" onclick="">
    <div class="split-content">
      <h2>Technology</h2>
      <section class="description">
        Seed stage advisory and investment portfolio focused on emerging trends.
      </section>
      <a class="peek-button" href="#!/technology">arrow_forward</a>
    </div>
    <img src="res/split-tech-bg.jpg"/>
  </div>
  <div class="split-side" onclick="">
    <div class="split-content">
      <h2>Life Sciences</h2>
      <section class="description">
        Business development, product strategy, marketing, national accounts, and channel management for life science companies.
      </section>
      <a class="peek-button" ng-href="#!/life-sciences">arrow_forward</a>
    </div>
    <img src="res/split-life-bg.jpg"/>
  </div>
</div>