<!DOCTYPE html>
<div class="split-container">
  <div class="split-side" onclick="">
    <div class="split-content cover">
      <img class="logo" src="res/title-white.png">
      Tomorrow Delivered Today
    </div>
    <img src="res/cover-image.jpg"/>
  </div>
</div>
<section class="block carousel">
  <h2>Our Philosophy</h2>
  <slick speed="1000" autoplay="true" autoplay-speed="4000" adaptive-height="true" dots="true">
    <div>
      Lontra Ventures embraces the long game.
    </div>
    <div>
      Our clients possess <b>extraordinary knowledge</b> and are building tomorrow's innovations.
    </div>
    <div>
      Winners are <b>focused</b> yet agile, <b>responsive</b> to the market. <b>Confident taking measured risk.</b>
    </div>
    <div>
      <b>Results Matter.</b> We are at our clients side everyday with <b>truth</b> and <b>authenticity, analytics</b>, and <b>encouragement</b>.
    </div>
    <div>
      Together we win.
    </div>
  </slick>
</section>

<!--
<div class="split-container">
  <div class="split-side" onclick="" ng-href="#!/technology">
    <div class="split-content">
      <h2>Technology</h2>
      <section class="description">
        Seed stage advisory and investment portfolio focused on emerging trends.
      </section>
      <a class="peek-button" ng-href="#!/technology">arrow_forward</a>
    </div>
    <img src="res/split-tech-bg.jpg"/>
  </div>
  <div class="split-side" onclick="" ng-href="#!/life-sciences">
    <div class="split-content">
      <h2>Life Sciences</h2>
      <section class="description">
        Business development, product strategy, marketing, national accounts, and channel management for life science companies.
      </section>
      <a class="peek-button" ng-href="#!/life-sciences">arrow_forward</a>
    </div>
    <img src="res/split-life-bg.jpg"/>
  </div>
</div> -->



<!-- </div> -->


<div class="split-container1">

  <div class="split-side1" onclick="" ng-href="#!/technology">
    <div class="split-content1">
      <h2>Technology</h2>
      <section class="description1">
        Seed stage advisory and investment portfolio focused on </br>emerging trends.
      </section>
      <a class="peek-button1" ng-href="#!/technology">arrow_forward</a>
    </div>
    <img src="res/split-tech-bg.jpg"/>
  </div>
  <div class="split-side1 blue-overlay" onclick="" ng-href="#!/portfolio">
    <div class="split-content1">
      <h2>Portfolio</h2>
      <section class="description1">
        Portfolio focused on emerging trends.
      </section>
      <a class="peek-button1" ng-href="#!/portfolio">arrow_forward</a>

    </div>
    <img src="res/portfolio-image.jpg"/>
  </div>
  <div class="split-side1" onclick="" ng-href="#!/life-sciences">
    <div class="split-content1">
      <h2>Life Sciences</h2>
      <section class="description1">
        Business development, product strategy, marketing,</br> national accounts, and channel management </br>for life science companies.
      </section>
      <a class="peek-button1" ng-href="#!/life-sciences">arrow_forward</a>
    </div>
    <img src="res/split-life-bg.jpg"/>
  </div>

  </div>




<section class="block carousel">
  <h2>What Our Partners Say</h2>
  <slick speed="1000" autoplay="true" autoplay-speed="4000" adaptive-height="true" dots="true">
    <div class="profile-container" ng-repeat="quote in quotes">
      <div class="profile-content">
        <div class="profile-info" style="margin: auto;">
          <div class="quote">{{quote.quote}}</div>
          <div class="author">{{quote.author}}</div>
          <div class="position" ng-if="quote.position">{{quote.position}}</div>
        </div>
      </div>
    </div>
  </slick>

</section>

