<!DOCTYPE html>
<div class="split-container">
  <div class="split-side" onclick="" style="background-image: url(res/cover-image.jpg);">
    <div class="split-content cover">
      <img src="res/title-white.png">
        Tomorrow Delivered Today
      </div>
    </div>
  </div>
</div>
<section class="block">
  <p>
    Lontra Ventures embraces the long game.
  </p>
  <p>
    Our clients possess <b>extraordinary knowledge</b> and are building tomorrow's innovations.
  </p>
  <p>
    Winners are <b>focused</b> yet agile, <b>responsive</b> to the market. <b>Confident taking measured risk.
  </b>
  <p>
    <b>Results Matter.</b> We are at our clients side everyday with <b>truth</b> and <b>authenticity, analytics</b>, and <b>encouragement</b>.
  </p>
  <p>
    Together we win
  </p>
</section>
<div class="split-container">
  <div class="split-side" onclick="" style="background-image: url(res/split-tech-bg.jpg)">
    <div class="split-content">
      <h2>Technology</h2>
      <section class="description">
        Seed stage advisory and investment portfolio focused on emerging trends.
      </section>
      <a class="peek-button" href="#!/technology">arrow_forward</a>
    </div>
  </div>
  <div class="split-side" onclick="" style="background-image: url(res/split-life-bg.jpg);">
    <div class="split-content">
      <h2>Life Sciences</h2>
      <section class="description">
        Business development, product strategy, marketing, national accounts, and channel management for life science companies.
      </section>
      <a class="peek-button" ng-href="#!/life-sciences">arrow_forward</a>
    </div>
  </div>
</div>