<!DOCTYPE html>
<div class="split-container short">
  <div class="split-side">
    <div class="split-content cover">
      Technology
    </div>
    <img src="res/split-tech-bg.jpg"/>
  </div>
</div>
<div class="profile container">
  <div class="profile-content">
    <div class="profile-picture">
      <img src="res/profile-picture.png">
    </div>
    <div class="profile-info">
      <header>Andrea Kalmans <span class="subhead">Leader, Technology Practice</span></header>
      <content>
        <section class="block">
          <p class="contact-info">
            <a href="tel:1-512-423-4688">
              <i class="material-icons">phone</i>
              <span>(512) 423-4688</span>
            </a>
            <a href="mailto:akalmans@lontraventures.com">
              <i class="material-icons">email</i>
              <span>akalmans@lontraventures.com</span>
            </a>
          </p>
          <p>
            Andrea has built the Technology portfolio with passion and energy as well as focus and discipline. At her core, she embraces founder friendly ideals and practices. Andrea is looking to partner founders tackling massive market opportunities and explosive growth rates. The current portfolio (as shown below) are targeted in: artificial intelligence, analytics, audio and video, big data, database technologies, developer tools, high performance computing, IT infrastructure, IoT and web optimization. We back delivery models ranging from API, SaaS, PaaS and Enterprise Sales. 
          </p>
          <p>
            Andrea’s strengths reside in identifying emerging trends and finding the best people to deliver that innovation.  In her advising capacity, Andrea works side-by-side founders in crafting messaging to best drive sales business development as well as to achieve product/market fit. Andrea spends her time in innovation hubs such as Techstars, Capital Factory, the Dell Medical Catalyst Program and with the RealCo Accelerator/Geekdom Fund. Prior to joining Lontra Ventures, Andrea ran a $700 M Global P&amp;L for Dell and worked in the Media Investment Bank of Salomon Smith Barney in NYC. She holds an MBA from UT-Austin and degrees in Finance/Economics from UW-Madison where she graduated Phi Beta Kappa.
          </p>
        </section>
      </content>
      <footer class="social">
        <a href="https://www.linkedin.com/in/akalmans" target="_blank">
          <img src="res/icons/icon_linkedin.png">
        </a>
        <a href="https://www.facebook.com/andrea.kalmans" target="_blank">
          <img src="res/icons/icon_facebook.png">
        </a>
        <a href="https://twitter.com/akalmans" target="_blank">
          <img src="res/icons/icon_twitter.png">
        </a>
        <a href="https://medium.com/@akalmans" target="_blank">
          <img src="res/icons/icon_medium.png">
        </a>
      </footer>
    </div>
  </div>
</div>

<div ng-controller="PortfolioCtrl as portfolio" class="portfolio container">
  <div ng-show="portfolio.loading">
    <h2 class="header">Loading Portfolio</h2>
  </div>
  <div ng-hide="portfolio.loading || portfolio.error">
    <h2 id="portfolio" class="header">Portfolio &amp; Partners</h2>
    <div class="card portfolio-entry" ng-repeat="entry in portfolio.entries">
      <header ng-if="entry.type === 'single'">
        <h1 class="row">
          <a ng-href="{{entry.website}}" target="_blank" alt="{{entry.name}}">
            <img class="portfolio-logo" title="{{entry.name}}" src="res/logos/{{entry.logo}}" />
          </a>
        </h1>
        <h1 class="row">
          <a ng-href="{{entry.website}}" target="_blank">
            {{entry.name}}
            <i class="material-icons">link</i>
          </a>
          <div class="icons">
            <a ng-href="https://facebook.com/{{entry.facebook}}" title="{{entry.facebook}}" target="_blank" ng-if="entry.facebook">
              <img src="res/icons/icon_facebook.png">
            </a>
            <a ng-href="https://linkedin.com/company/{{entry.linkedin}}" target="_blank" ng-if="entry.linkedin">
              <img src="res/icons/icon_linkedin.png">
            </a>
            <a ng-href="https://twitter.com/{{entry.twitter}}" title="{{entry.twitter}}" target="_blank" ng-if="entry.twitter">
              <img src="res/icons/icon_twitter.png">
            </a>
          </div>
        </h1>
        <h2 class="row">
          {{entry.description}}
        </h2>
      </header>

      <header ng-if="entry.type === 'multi'">
        <h1 class="multi">
          <a ng-repeat="node in entry.nodes" ng-href="{{node.website}}" target="_blank" alt="{{node.name}}">
            <img class="portfolio-logo" title="{{node.name}}" src="res/logos/{{node.logo}}" />
            <span>{{node.name}}<i class="material-icons">link</i></span>
          </a>
        </h1>
        <h1 class="row">
          {{entry.name}}
        </h1>
        <h2 class="row">
          {{entry.description}}
        </h2>
      </header>
    </div>
  </div>
  <div ng-show="portfolio.error">
    <h2 class="header">Error Loading Portfolio</h2>
    <i class="material-icons">retry</i>
  </div>
</div>
